.center{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.center::before{
    content:"Welcome To LingoVerse";
    font-size: 42px ;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 2%;
    width: 100%;
}
.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 7fr 3fr ;
}
.logo{
    width: 100px;
    height: 60px;
    mix-blend-mode: color-burn;
}
.select{
    background-color: #0d6efd;
    border: none;
    color: white;
}
.darkmode{
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.3
}
.darkmode:hover{
    opacity: 0.8;
}